@{
    ViewData["Title"] = "Admin Panel HomePage";
}

<div class="text-center">
    <h1 class="display-4">Admin Panel</h1>
    <p>This is the Admin Panel. Please be careful of what you do in this page to avoid making any mistake in the database and to keep the program in a normal form.</p>
    <a asp-area="" asp-controller="Product" action="List"> The List </a>
</div>