@model web_dev_assignment.Models.Item
@{
    ViewData["Title"] = Model.Name;
}

<div class="text-center">
    <h1 class="display-4">Product description</h1>
    <center>
        <table width="80%">
            <tr>
                <th>Product ID</th>
                <td class="">@Model.ID</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>@Model.Description</td>
            </tr>
        </table>
    </center>
    <p>The sale of the customized Linux operating system of your software product development or deployment specific needs will be available very soon.</p>
</div>
